# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
Assets/Environment/Castle_Builder.gltf filter=lfs diff=lfs merge=lfs -text
*Castle_Builder.gltf filter=lfs diff=lfs merge=lfs -text
